[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CPNCoverageAnalysis"]
	path = CPNCoverageAnalysis
	url = https://github.com/cran/CPNCoverageAnalysis
[submodule "ODMeans"]
	path = ODMeans
	url = https://github.com/cran/ODMeans
